<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--<sessionState mode="SQLServer" allowCustomSqlDatabase="true" compressionEnabled="true" sqlConnectionString="data source=m2cws001;user id=sa;password=sqladmin;Application Name=TEST" cookieless="true" timeout="20"/>-->
    <machineKey decryptionKey="EDCDA6DF458176504BBCC720A4E29348E252E652591179E2"
    validationKey="CC482ED6B5D3569819B3C8F07AC3FA855B2FED7F0130F55D8405597C796457A2F5162D35C69B61F257DB5EFE6BC4F6CEBDD23A4118C4519F55185CB5EB3DFE61"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="10000"/>
    <customErrors mode="On" defaultRedirect="~/Administration/Error.aspx">
      <error statusCode="404" redirect="~/Administration/Error.aspx"/>
    </customErrors>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <add path="FtbWebResource.axd" verb="GET" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.SqlServer.Smo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Administration/Login.aspx" timeout="300000" defaultUrl="~/Administration/AdminHome.aspx"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" enableEventValidation="true" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
      </controls>
    </pages>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization>
          <converters>
            <add name="DataSetConverter" type="Microsoft.Web.Preview.Script.Serialization.Converters.DataSetConverter, Microsoft.Web.Preview"/>
            <add name="DataRowConverter" type="Microsoft.Web.Preview.Script.Serialization.Converters.DataRowConverter, Microsoft.Web.Preview"/>
            <add name="DataTableConverter" type="Microsoft.Web.Preview.Script.Serialization.Converters.DataTableConverter, Microsoft.Web.Preview"/>
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IcontentPage"/>
        <binding name="BasicHttpBinding_ILessonManagement" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000"/>
        <binding name="BasicHttpBinding_ImatchingLesson"/>
        <binding name="BasicHttpBinding_IMouseEditor"/>
        <binding name="BasicHttpBinding_IreinforcementAssg"/>
        <binding name="BasicHttpBinding_ISetStep"/>
        <binding name="BasicHttpBinding_ItimeEditor"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:60339/DynamicGridWithTemplateColumn/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap"/>
      <endpoint address="http://M2CWS001:81/contentPage.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IcontentPage" contract="svc_contentPage.IcontentPage" name="BasicHttpBinding_IcontentPage"/>
      <endpoint address="http://M2CWS001:95/matchingLesson.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ImatchingLesson" contract="svc_matchingLesson.ImatchingLesson" name="BasicHttpBinding_ImatchingLesson"/>
      <endpoint address="http://M2CWS001:81/reinforcementAssg.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IreinforcementAssg" contract="svc_reinforcementAssg.IreinforcementAssg" name="BasicHttpBinding_IreinforcementAssg"/>
      <endpoint address="http://M2CWS001:81/SetStep.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISetStep" contract="svc_setStep.ISetStep" name="BasicHttpBinding_ISetStep"/>
      <endpoint address="http://M2CWS001:81/timeEditor.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ItimeEditor" contract="svc_timeEditor.ItimeEditor" name="BasicHttpBinding_ItimeEditor"/>
      <endpoint address="http://M2CWS001:81/MouseEditor.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMouseEditor" contract="svc_MouseEditor.IMouseEditor" name="BasicHttpBinding_IMouseEditor"/>
      <endpoint address="http://M2CWS001:81/LessonManagement.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILessonManagement" contract="svc_lessonManagement.ILessonManagement" name="BasicHttpBinding_ILessonManagement"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000000001"/>
    <!--**************** Graph Section Start **************-->
    <add key="Username" value="reportuser"/>
    <add key="Password" value="reportuser"/>
    <add key="Domain" value="M2CWS001"/>
    <add key="ReportPath" value="http://M2CWS001/Reports/Pages/Report.aspx?ItemPath=%2fBiWeekly+Reports%2fBiweeklyReportGroup"/>
    <add key="SessionReportPath" value="http://M2CWS001/Reports/Pages/Report.aspx?ItemPath=%2fBiWeekly+Reports%2fBiweeklySessionReportGroup"/>
    <add key="BehaviorReportPath" value="http://M2CWS001/Reports/Pages/Report.aspx?ItemPath=%2fBiWeekly+Reports%2fClinicalReport"/>
    <add key="MedicationReportPath" value="http://M2CWS001/Reports/Pages/Report.aspx?ItemPath=%2fBiweekly+Reports%2fMedication"/>
    <add key="ReportUrl" value="http://M2CWS001/ReportServer"/>
    <!--http://dhilp007/ReportServer_DHILP007-->    
    <add key="SessionBased" value="/MelmarkNE_Biweekly/BiweeklySessionReportGroup"/>
    <add key="DupSessionBased" value="/MelmarkNE_Biweekly/DupBiweeklySessionReportGroup"/>
    <add key="ExportSessionBased" value="/MelmarkNE_Biweekly/ExportBiweeklySessionReportGroup"/>
    <add key="IncidentalSessionBased" value="/MelmarkNE_Biweekly/IncidentalBiweeklySessionReportGroup"/>
    <add key="IncidentalDupSessionBased" value="/MelmarkNE_Biweekly/IncidentalDupBiweeklySessionReportGroup"/>
    <add key="IncidentalExportSessionBased" value="/MelmarkNE_Biweekly/IncidentalExportBiweeklySessionReportGroup"/>
    <add key="Academic" value="/MelmarkNE_Biweekly/BiweeklyReportGroup"/>
    <add key="DupAcademic" value="/MelmarkNE_Biweekly/DupBiweeklyReportGroup"/>
    <add key="ExportAcademic" value="/MelmarkNE_Biweekly/ExportBiweeklyGroupReport"/>  
    <add key="IncidentalAcademic" value="/MelmarkNE_Biweekly/IncidentalBiweeklyReportGroup"/>
    <add key="IncidentalDupAcademic" value="/MelmarkNE_Biweekly/IncidentalDupBiweeklyReportGroup"/>
    <add key="IncidentalExportAcademic" value="/MelmarkNE_Biweekly/IncidentalExportBiweeklyGroupReport"/> 
    <add key="Clinical" value="/MelmarkNE_Biweekly/ClinicalReport"/>
    <add key="DupClinical" value="/MelmarkNE_Biweekly/DupClinicalReport"/>
    <add key="ExportClinical" value="/MelmarkNE_Biweekly/ExportClinicalReport"/>
    <add key="IncidentalClinical" value="/MelmarkNE_Biweekly/IncidentalClinicalReport"/>
    <add key="IncidentalDupClinical" value="/MelmarkNE_Biweekly/IncidentalDupClinicalReport"/>
    <add key="IncidentalExportClinical" value="/MelmarkNE_Biweekly/IncidentalExportClinicalReport"/>
    <add key="ChainedBar" value="/MelmarkNE_Biweekly/ChainedBarGraphReport"/>
    <add key="ChainedDupBar" value="/MelmarkNE_Biweekly/ChainedBarDupGraphReport"/>
    <add key="ChainedExportBar" value="/MelmarkNE_Biweekly/ChainedBarExportGraphReport"/>
    <add key="ExcelViewReport" value="/MelmarkNE_Biweekly/BiweeklyExcelViewReport"/>
    <add key="Maintenance" value="/MelmarkNE_Biweekly/MaintenanceReport"/>
    <add key="DupMaintenance" value="/MelmarkNE_Biweekly/MaintenanceDupReport"/>
    <add key="ExportMaintenance" value="/MelmarkNE_Biweekly/MaintenanceExportReport"/>
    <add key="IncidentalMaintenance" value="/MelmarkNE_Biweekly/MaintenanceIncidentalReport"/>
    <add key="IncidentalDupMaintenance" value="/MelmarkNE_Biweekly/MaintenanceIncidentalDupReport"/>
    <add key="IncidentalExportMaintenance" value="/MelmarkNE_Biweekly/MaintenanceIncidentalExportReport"/>    
    <add key="ProgressSummaryReport" value="/MelmarkNE_Biweekly/ProgressSummaryReport" />
    <add key="ProgressSummaryReportClinical" value="/MelmarkNE_Biweekly/ProgressSummaryReportClinical" />
	  <!--**************** Dashboard Graphs **************-->
    <add key="DashBoardClientAcademic" value="/MelmarkNE_Biweekly/DashBoardClientAcademic"/>
    <add key="DashBoardStaffAcademic" value="/MelmarkNE_Biweekly/DashBoardStaffAcademic"/>
    <add key="DashBoardClientClinical" value="/MelmarkNE_Biweekly/DashBoardClientClinical"/>
    <add key="DashBoardStaffClinical" value="/MelmarkNE_Biweekly/DashBoardStaffClinical"/>
    <add key="DashBoardClientAcademicPercentage" value="/MelmarkNE_Biweekly/DashBoardClientAcademicPercentage"/>
    <!--**************** Graph Section end **************-->
    
    
    <add key="USServer1" value="patriots.melmarkne.org,sqltestda,sqltestda"/>
    <add key="USServer2" value="celtics.melmarkne.org,sqltestda,sqltestda"/>
    <add key="USServer3" value="bruins.melmarkne.org,sqltestda,sqltestda"/>
    <add key="DomainName" value="melmarkne"/>
    <add key="IsActiveLogin" value="N"/>
    <add key="School" value="NE"/>
    <add key="BuildName" value="Local"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="BuildName" value="Integrated"/>
    <!--<add key="BuildName" value="Local"/>-->
  
  
    <!-- Sharepoint link-->
    <add key="BehaviorSharePointRpt" value="http://sqltest/sites/DatasheetReports/_layouts/15/ReportServer/AdHocReportDesigner.aspx?list=%7B6E3DFEE8%2D00B2%2D48EF%2DAB36%2D0C18B279B701%7D&amp;ID=2"/>
    <add key="DataSheetSharePointRpt" value="http://sqltest/sites/DatasheetReports/_layouts/15/ReportServer/AdHocReportDesigner.aspx?list=%7B6E3DFEE8%2D00B2%2D48EF%2DAB36%2D0C18B279B701%7D&amp;ID=1"/>
  
  </appSettings>
  <connectionStrings>
    <!--<add name="dbConnectionString" connectionString="Data Source=M2CLP003-PC\DHILOGICS;Initial Catalog=AppDataProdP1;User ID=sa;Password=sqladmin" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dbConnectionString" connectionString="Data Source=M2CLP007;Initial Catalog=MelmarkDB;User ID=sa;Password=sqladmin" providerName="System.Data.SqlClient"/>-->
    <add name="dbConnectionString" connectionString="Data Source=192.168.2.200;Initial Catalog=MelmarkNE1New;User ID=sa;Password=sqladmin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
</configuration>