@charset "utf-8";

Body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background: #f9f9f9 url(../images/db-bg.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    text-align: left;
    line-height: 19px;
    width: 100% !important;
    overflow: auto;
}

.ClassRowStyle {
    background: none repeat scroll 0 0 #D8DEE1;
    border-bottom: 2px solid #F8F7FC;
    font-size: 12px;
    height: 11px;
    padding: 3px 0;
    text-align: left;
    vertical-align: middle;
    width: 90px;
}

    .ClassRowStyle:hover {
        background: none repeat scroll 0 0 #B2CCCA;
    }

    .ClassRowStyle td {
        border-bottom: 1px solid #E9E9E9;
        color: #666666;
        font-family: Arial;
        font-size: 12px;
        height: 30px;
        padding: 0 8px;
        text-align: left;
    }

.ClassRowForButton {
    background-color: #F8F7FC;
    width: 91px;
    height: 26px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background-position: 0 0;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.StatusTable {
    width: 100%;
    height: 100%;
}

    .StatusTable td {
        height: 10%;
        text-align: center;
    }



.stylishActive {
    margin: 0 auto;
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 66px;
    border: 5px dotted #f1e23a;
    font-size: 20px;
    color: #666;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #0D668E;
}

.stylish {
    margin: 0 auto;
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 66px;
    border: 4px double #ccc;
    font-size: 20px;
    color: #666;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #ddd;
}

.divStatusAll {
    padding: 25px 0 25px 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
}


.StatusDiv {
    float: left;
    width: auto;
    height: auto;
    float: left;
    margin: 0px;
    /*background:url(../images/left-shadow.jpg) repeat-y left;*/
    -moz-border-radius: 6px;
    background-color: #b7070a;
    -webkit-border-radius: 6px;
    padding: 5px 5px 5px 5px;
    border: 3px solid #e7676d;
    -webkit-border-top-left-radius: 5px !important;
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    color: white;
    display: inline-block;
    padding: 15px;
    margin-right: 10px;
    padding-right: 35px;
    margin-bottom: 10px;
    font-family: arial;
    font-weight: bold;
    background: -moz-linear-gradient(center top, #E7676D, #B7070A) repeat scroll 0 0 #E7676D;
    border: 3px solid #FFFFFF;
    border-radius: 68px 1px 108px 68px !important;
    box-shadow: 0 2px 4px #000000;
}

    .StatusDiv:hover {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e7686d), to(#b7080a)); /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(top, #e7686d, #b7080a); /* Chrome 10+, Saf5.1+, iOS 5+ */
        background-image: -moz-linear-gradient(top, #e7686d, #b7080a); /* FF3.6 */
        background-image: -ms-linear-gradient(top, #e7686d, #b7080a); /* IE10 */
        background-image: -o-linear-gradient(top, #e7686d, #b7080a); /* Opera 11.10+ */
        background-image: linear-gradient(top, #e7686d, #b7080a);
    }



/*Set Allarm for Behavior*/

.divAlam {
    display: block;
    height: 40px;
    left: 700px;
    top: 50px;
    border: none;
    z-index: 100;
}
/*Set Allarm for Behavior*/


* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

ul, header, footer {
    margin: 0px;
    padding: 0px;
}

img {
    border: 0px;
}

a {
    color: #000;
    text-decoration: none;
}

    a:hover {
        color: #000;
        text-decoration: none;
    }





.up {
    background-color: #60C658;
    width: 95%;
    left: 2.5%;
    display: inline-block;
    height: 3px;
    position: absolute;
    top: 323%;
}

.down {
    background-color: #60C658;
    width: 95%;
    left: 2.5%;
    display: inline-block;
    height: 3px;
    position: absolute;
    top: 323%;
}








#top-panel-container li.user img {
    margin: 0 8px 0px 0px;
    display: block;
    float: left;
    padding: 4px 0 0 0;
}




#db-container {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0 auto;
}

#header-panel {
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
}

.Dashboard-logo {
    float: left;
    height: auto;
    margin: 0;
    padding: 1.5% 0 0.5% 4.5%;
    width: 95.5%;
    background: url(../images/curve.jpg) right top no-repeat;
}

.AlarmDiv {
    float: left;
    height: auto;
    margin: 0;
    padding: 4px 0 2px 42px;
    width: 15%;
}

.behDiv {
    background-color: white;
    float: left;
    height: 22px;
    margin: 1% 0 0;
    padding: 4px 0 2px 2px;
    width: 51%;
    -moz-box-shadow: 2px 2px 15px 1px #BFC0C1;
    -webkit-box-shadow: 2px 2px 15px 1px #BFC0C1;
    box-shadow: 2px 2px 15px 1px #BFC0C1;
    -webkit-border-top-left-radius: 5px !important;
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.header-links {
    width: 59%;
    height: auto;
    float: left;
    padding: 15px 0px 5px 0px;
    margin: 0px;
}

    .header-links ul {
        padding: 0px;
        margin: 0px;
        float: right;
        list-style: none;
    }

    .header-links li {
        padding: 12px 0px 0px 0px;
        margin: 0px 0px 0px 30px;
        float: left;
        width: 98px;
        height: 53px;
        background: url(../images/link-box.png) no-repeat;
        color: #767676;
        text-align: center;
        font-family: 'Orienta', sans-serif !important;
        font-size: 13px;
        font-weight: bold;
        line-height: 13px;
        text-shadow: #fff 0px 1px 1px;
    }

        .header-links li a {
            color: #767676;
            text-decoration: none;
        }

            .header-links li a:hover {
                color: #0781ba;
                text-decoration: none;
            }

#dashboard-content-panel {
    clear: both;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    width: 96%;
}

#dashboard-LHS {
    width: 18%;
    height: auto;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    /*	background:url(../images/left-shadow.jpg) repeat-y right;
*/
}

.dashboard-RHS-top {
    width: 102%;
    height: 13px;
    background: url(../images/top-shadow.jpg) no-repeat right;
    padding: 0px;
    margin: 0 auto;
}



.dashboard-RHS-bottom {
    width: 101%;
    height: 20px;
    float: left;
    /*background:url(../images/bottom-shadow.jpg) no-repeat right;*/
    padding: 0px;
    margin: 0px;
}

.dashboard-left-heading {
    width: 100%;
    height: auto;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}

h3 {
    width: 100%;
    height: auto;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    color: #9d9d9d;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    font-style: normal;
    font-family: 'Oswald', sans-serif;
}

    h3 a b {
        padding: 0px 0px 0px 0px;
        margin: 0px;
        color: #7cb885;
        line-height: 13px !important;
        font-size: 13px;
        font-weight: normal;
        text-align: left;
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    h3 a {
        padding: 20px 0px 5px 0px !important;
        float: left;
        color: #9d9d9d;
        line-height: 15px;
        font-size: 17px;
        font-weight: normal;
        text-align: left;
        font-style: normal;
        text-decoration: none;
        cursor: pointer;
        border: 0px;
        text-shadow: 1px 0px 1px #fff;
        font-family: 'Oswald', sans-serif;
    }

        h3 a:hover {
            color: #7cb885;
            text-align: left;
            text-decoration: none;
            cursor: pointer;
            border: 0px;
        }

        h3 a img {
            margin: 0px 10px 0px 20px;
        }

.openheader {
    background-image: url(../images/dashboard-left-open.jpg);
    background-repeat: no-repeat;
    background-position: left;
    height: 70px;
    color: #FFF;
    position: relative;
    border-right: #f9f9f9 1px solid;
    line-height: 70px !important;
}

.dashboard-sublinks {
    width: 100%;
    height: auto;
    float: left;
    padding: 0px 0px 0px 0px;
    font-family: 'Oswald', sans-serif;
}

    .dashboard-sublinks ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        line-height: normal;
    }

    .dashboard-sublinks li {
        padding: 0px 10px 0px 15px;
        margin: 0px 0px 2px 0px;
        width: 87%;
        height: 25px;
        float: right;
        background: url(../images/sub-link-bg.jpg) no-repeat left #36ac47;
        list-style: none;
    }

        .dashboard-sublinks li a {
            width: 100%;
            height: 25px;
            float: left;
            background-image: url(../images/sub-arow.png);
            background-repeat: no-repeat;
            background-position: left;
            padding: 0px 0px 0px 23px;
            text-decoration: none;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            text-align: left;
            line-height: 25px;
            cursor: pointer;
            border: 0px;
        }

            .dashboard-sublinks li a:hover {
                width: 100%;
                height: 25px;
                float: left;
                background-image: url(../images/sub-arow2.png);
                background-repeat: no-repeat;
                background-position: left;
                padding: 0px 0px 0px 23px;
                text-decoration: none;
                color: #00ff23;
                font-size: 13px;
                text-align: left;
                line-height: 25px;
                cursor: pointer;
                border: 0px;
            }

        .dashboard-sublinks li.active a {
            color: #00ff23 !important;
            background-image: url(../images/sub-arow2.png);
            background-repeat: no-repeat;
            background-position: left;
        }

.bread-crumbs {
    width: 100%;
    height: 30px;
    float: left;
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

    .bread-crumbs ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    .bread-crumbs li {
        padding: 0px 20px 0px 0px;
        margin: 0px 0px 0px 13px;
        float: left;
        background: url(../images/crumbs-arow.jpg) no-repeat right;
        color: #8d8d8d;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        text-align: left;
        line-height: 30px;
    }

        .bread-crumbs li a {
            color: #8d8d8d;
            text-decoration: none;
            text-shadow: #fff 0px 1px 1px;
        }

            .bread-crumbs li a:hover {
                color: #7cb885;
            }

#main-heading-panel {
    width: 98%;
    height: 16px;
    padding: 17px 0 0 1px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #666666;
    background: none;
    line-height: 0;
}



/* GENERAL */

table thead tr {
}

table thead th {
    padding: 0px 5px 0px 5px;
    background: #3a3a3a;
    border-bottom: 3px solid #333333;
    height: 30px;
    color: #fff;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    line-height: 17px;
    text-shadow: 0 1px 0 #000;
}

    table thead th.center2 {
        text-align: center;
    }

table tbody {
}

table tr.odd {
    background-color: #fff;
}

table tr.even {
    background-color: #f6f6f6;
}

table td {
    color: #000;
}

    table td.group {
        padding: 4px 10px 5px 10px;
        border: none;
        color: #000;
    }

    table td.center {
        text-align: center !important;
    }

table tr.odd td {
    border-bottom: 1px dotted #dddddd;
    padding: 3px 5px 3px 5px;
    line-height: 19px;
}

table tr.even td {
    border-bottom: 1px dotted #dddddd;
    padding: 3px 5px 3px 5px;
    line-height: 19px;
}

table tr.odd:hover {
    background-color: #ddd;
}

table tr.even:hover {
    background-color: #ddd;
}



.display2 {
    width: 100%;
    outline: #eeeeee 1px solid;
    border: #f9f9f9 2px solid;
    padding: 10px 0px 10px 0px;
    background: #e7e7e7;
}

table tfoot tr {
}

table tfoot th {
    padding: 5px 0px 0px 10px;
    background: #e7e7e7;
    border: 0px;
    color: #3a3a3a;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    line-height: 35px;
}

table tfoot td {
    padding: 0px 0px 0px 10px;
    background: #e7e7e7;
    border: 0px;
    color: #3a3a3a;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    line-height: 40px;
}

.TextBox100 {
    border: 1px solid #f4f4f4;
    background-color: #fff;
    width: 100px;
    height: 26px;
    color: #676767;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 26px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 5px 0px 10px;
}

.TextBox200 {
    border: 1px solid #f3f3f3;
    background-color: #fff;
    width: 200px;
    height: 25px;
    color: #676767;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 5px 4px 10px;
}

.TextBox250 {
    border: 1px solid #f4f4f4;
    background-color: #fff;
    width: 240px;
    height: 26px;
    color: #676767;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 26px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 5px 0px 10px;
}

.TextBox300a {
    border: 1px solid #f3f3f3;
    background-color: #fff;
    width: 280px;
    height: 26px;
    color: #676767;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 26px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 5px 0px 10px;
}

.TextBox300b {
    border: 1px solid #f3f3f3;
    background-color: #fff;
    width: 480px;
    height: auto;
    color: #676767;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 5px 0px 10px;
}

.TextBox300 {
    border: 1px solid #f4f4f4;
    background-color: #fff;
    width: 300px;
    height: 35px;
    color: #676767;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
}

.button {
    width: 109px;
    height: 40px;
    float: left;
    border: 0px;
    cursor: pointer;
    background: url(../images/button.jpg) no-repeat;
    color: #fff;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    line-height: 40px;
    padding: 0px 0px 0px 35px;
}

    .button:hover {
        background: url(../images/button-hover.jpg) no-repeat;
    }

.button2 {
    width: 109px;
    height: 40px;
    float: left;
    border: 0px;
    cursor: pointer;
    background: url(../images/button2.jpg) no-repeat;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    padding: 0px 0px 0px 0px;
}

    .button2:hover {
        background: url(../images/button2-hover.jpg) no-repeat;
    }

.quick-boxicon {
    width: 171px;
    height: 87px;
    float: left;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
    background: url(../images/box-icon-bg.jpg) no-repeat;
    color: #2f2e2e;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
    text-shadow: #fff 0px 1px 1px;
}

    .quick-boxicon a {
        color: #2f2e2e;
        text-decoration: none;
    }

        .quick-boxicon a:hover {
            color: #0a8a3a;
        }

#footer-panel {
    width: 80%;
    margin: 15px auto 0 auto;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #666;
}

    #footer-panel h4 {
        width: 350px;
        height: 25px;
        margin: 20px auto 0 auto!important;
        font-weight: normal;
        display: block!important;
        ;
    }



.red {
    color: #F00;
    font-size: 12px;
}

.formtitle {
    color: #2aa258;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    line-height: 25px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
}

table.formfield {
}

    table.formfield td {
        padding: 0px 0px 0px 10px!important;
        color: #000;
    }

        table.formfield td td {
            padding: 0px 0px 5px 0px !important;
        }

            table.formfield td td img {
                border: #fff 10px solid;
                outline: #e3e3e3 1px solid;
            }

    table.formfield th {
        color: #2aa258 !important;
        font-size: 15px!important;
        font-weight: normal;
        text-align: left;
        line-height: 25px;
        padding: 0px 0px 0px 10px!important;
        margin: 0px 0px 0px 0px;
    }

        table.formfield th span {
            border-bottom: 1px dashed #e8e8e8;
            float: left;
            width: 100%;
            margin: 0px 0px 10px 0px;
        }

.quick-boxicon2 {
    width: 170px;
    height: auto;
    float: left;
    padding: 10px 10px 20px 20px;
    margin: 0px 0px 30px 0px;
    background: #ececec;
    color: #2f2e2e;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    text-shadow: #fff 0px 1px 1px;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FAFAFA 0%, #ECECEC 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FAFAFA 0%, #ECECEC 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FAFAFA 0%, #ECECEC 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #ECECEC));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #ECECEC 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FAFAFA 0%, #ECECEC 100%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #f6f6f6 1px solid;
}

    .quick-boxicon2 a {
        color: #219a50;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: normal;
        text-align: left;
        line-height: 20px !important;
        text-decoration: none;
        float: left;
        background: url(../images/arow.png) no-repeat left;
        padding: 0px 0px 0px 15px;
        margin: 0px;
    }

        .quick-boxicon2 a:hover {
            color: #000;
            background: url(../images/arow2.png) no-repeat left;
            padding: 0px 0px 0px 15px;
        }

.file_input_textbox {
    height: 26px;
    width: 280px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 1px solid #f3f3f3;
    background-color: #fff;
    color: #676767;
    padding: 0px 5px 0px 10px;
    line-height: 26px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(../ie-css3.htc);
}

.file_input_div {
    position: relative;
    width: 86px;
    height: 30px;
    overflow: hidden;
    margin: 0px 0px 0px 2px;
}

.file_input_button {
    width: 65px;
    position: absolute;
    top: 0px;
    background-color: #828181;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #6a6a6a;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 26px;
    height: 26px;
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
}

.file_input_button_hover {
    width: 65px;
    position: absolute;
    top: 0px;
    color: #fff;
    line-height: 26px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #989797;
    background-color: #adacac;
    padding: 0px 5px 0px 5px;
    height: 26px;
    margin: 0px;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.file_input_hidden {
    font-size: 45px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
}





#studentlist {
    float: left;
    height: 60px;
    margin: 0;
    overflow: hidden;
    width: 96%;
}




#submenu {
    width: 100%;
    height: 36px;
    float: left;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    background: url(../images/submenu-bg.jpg) repeat-x;
}

#divRightScroll {
    width: 20px;
    height: 20px;
    float: right;
    background: #F00;
    position: static;
    z-index: 999;
}

#divLeftScroll {
    width: 20px;
    height: 20px;
    float: left;
    background: #F00;
    position: static;
    z-index: 999;
}

#submenu ul {
    padding: 0px 0px 0px 30px;
    margin: 0px;
    list-style: none;
}

#submenu li {
    padding: 0px 0px 0px 0px;
    margin: -6px 10px 0px 0px;
    list-style: none;
    float: left;
}

    #submenu li a {
        padding: 0px 0px 0px 0px;
        margin: 6px 0px 0px 0px;
        float: left;
        text-align: center;
        font-size: 13px;
        font-weight: normal;
        line-height: 25px;
        color: #fff;
    }

    #submenu li span {
        display: block;
    }

#submenu .alpha a:hover span, #submenu .alpha#submenu_active a span {
    background: url(../images/submenu-hover-left.jpg) top left no-repeat;
}

#submenu li span span, #submenu .alpha span span {
    padding: 0 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: left;
}

#submenu a:hover, #submenu #submenu_active a:hover {
    border-radius: 5px;
    background: url(../images/submenu-hover.jpg) top repeat-x;
    cursor: pointer;
    color: #000;
    height: 25px;
    width: auto;
}
    #submenu a:hover span, #submenu #submenu_active a span {
        border-radius:5px;
         background: url(../images/submenu-hover.jpg) top repeat-x;
        /* background: url(../images/submenu-hover-left.jpg) top left no-repeat;*/
    }

        #submenu a:hover span span, #submenu #submenu_active a span span, #submenu .alpha#submenu_active a span span, #submenu .alpha a:hover span span {
            border-radius:5px;
            background: url(../images/submenu-hover.jpg) top repeat-x;
            /*background: url(../images/submenu-hover-right.jpg) top right no-repeat;*/
            color: #fff;
        }



.showSideMenu {
    position: absolute;
    top: 10%;
    width: 17%;
    padding-left: 0.5%;
    z-index: 89;
}



#student-LHS {
    /*height:auto;
	float:left;

	margin:0px;*/
}

#ulWrapper {
    /*display:none;
   margin-left:22px;*/
}

#student-LHS ul {
    /*padding:10px 0px 0px 0px;
	margin:0px;
	list-style:none;*/
}

#contactFormContainer {
    position: absolute;
    z-index: 999;
}

/* Hides the whole contact form until needed */


#contactForm {
    background-color: white;
    margin-top: 2px;
    padding: 27px 16px 6px;
    position: absolute;
    margin-left: 1px;
    width: 218px;
    -moz-box-shadow: 3px 3px 3px 3px #BFC0C1;
    -webkit-box-shadow: 3px 3px 3px 3px #BFC0C1;
    box-shadow: 3px 3px 3px 3px #BFC0C1;
    /*-webkit-border-top-left-radius: 5px !important;
            -webkit-border-top-right-radius: 5px !important;*/
    -webkit-border-bottom-left-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-radius: 0 0 5px 5px !important;
    display: none;
}

    #contactForm li {
        padding: 0px 0px 0px 30px;
        list-style: none;
        float: left;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 35px;
        color: #fff;
        background: url(../images/left-heading-bg.jpg) no-repeat left;
        width: 188px;
        height: 35px;
        overflow: hidden;
    }

        #contactForm li.Studentinfo {
            background: url(../images/STUDENTINFO.PNG) no-repeat left;
        }

        #contactForm li.Assessment {
            background: url(../images/Assessments.png) no-repeat left;
        }

        #contactForm li.IEP {
            background: url(../images/IEPS1.PNG) no-repeat left;
        }
        #contactForm li.BSP {
            background: url(../images/IEPS1.PNG) no-repeat left;
        }

        #contactForm li.LessonPlan {
            background: url(../images/LESSONPLANS.PNG) no-repeat left;
        }

        #contactForm li.Datasheet {
            background: url(../images/DATASHEETS.PNG) no-repeat left;
        }

        #contactForm li.Behavior {
            background: url(../images/BEHAVIOR.PNG) no-repeat left;
        }

        #contactForm li.Graph {
            background: url(../images/GRAPHS.PNG) no-repeat left;
        }

        #contactForm li.Coversheets {
            background: url(../images/COVERSHEETS.PNG) no-repeat left;
        }

        #contactForm li.sublist img {
            margin: 8px 5px 0 0;
        }

        #contactForm li a {
            color: #fff;
        }

            #contactForm li a:hover {
                color: #a6c4f8;
            }

        #contactForm li.sublist a {
            color: black;
            padding-left: 10px;
            font-size: 12px;
        }

            #contactForm li.sublist a:hover {
                color: #014d6e;
            }

.floatingMenu-min {
    position: fixed;
    top: 260px;
    z-index: 100;
    overflow: hidden;
}








#dashboard-top-panel img {
    margin: 10px 5px 0 17px!important;
}



/*--------------------------------------MENU STYLE----------------------------------------------*/
div.classDivNew {
    width: 220px;
    min-height: 300px;
    display: none;
    margin: 8px 0 0 0;
    border: 5px solid #b2ccca;
    background: #f8f7fc url(../images/smlmelmark.JPG) 10px 5px no-repeat;
    padding: 21px 8px 8px 8px;
    position: absolute;
    z-index: 999;
}

    div.classDivNew hr {
        margin: 5px 0 10px 0;
        padding: 0;
        border: 1px solid #b2ccca;
        line-height: 1px;
    }

    div.classDivNew div.display {
        width: 180px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

    div.classDivNew a.sprited {
        display: block;
        float: right;
        margin: 0 0 0 200px!important;
        padding: 0;
        position: absolute;
        top: -22px;
    }

div.classDiv {
    width: 220px;
    min-height: 300px;
    height: auto !important;
    height: 240px;
    display: none;
    margin: 8px 0 0 0;
    border: 5px solid #b2ccca;
    background: #f8f7fc url(../images/smlmelmark.JPG) 10px 5px no-repeat;
    padding: 21px 8px 8px 8px;
    position: absolute;
    z-index: 999;
}

    div.classDiv hr {
        margin: 5px 0 10px 0;
        padding: 0;
        border: 1px solid #b2ccca;
        line-height: 1px;
    }

    div.classDiv div.display {
        width: 180px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

    div.classDiv a.sprited {
        display: block;
        float: right;
        margin: 0 0 0 200px!important;
        padding: 0;
        position: absolute;
        top: -22px;
    }

.RowStyle {
    border-bottom: 2px solid #f8f7fc;
    padding: 3px 0;
    background: #d8dee1;
    height: 11px;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    width: 90px;
}

    .RowStyle:hover {
        background: #b2ccca;
    }

    .RowStyle a,
    .RowStyle a:link,
    .RowStyle a:visited {
        color: #166a5a;
        text-decoration: none!important;
        background: url(../images/dotblk.JPG) left 3px no-repeat;
        padding: 0 0 0 15px!important;
    }

        .RowStyle a:hover {
            text-decoration: none;
            color: #000;
        }

/*----------------------Second Dropdown----------------------------------*/
.alertsPopUp {
    width: 300px;
    min-height: 150px;
    height: auto !important;
    height: 150px;
    display: none;
    margin: 8px 0 0 0;
    border: 5px solid #b2ccca;
    background: #f8f7fc url(../images/smlmelmark.JPG) 10px 5px no-repeat;
    padding: 21px 8px 8px 8px;
    position: absolute;
    z-index: 999;
}

    .alertsPopUp hr {
        margin: 5px 0 10px 0;
        padding: 0;
        border: 1px solid #b2ccca;
        line-height: 1px;
    }

/*Edited Part - Designer*/

#top-panel-container li.box0 {
    width: 5%;
    float: left;
    height: 20px;
    background: url(../images/chkintop.PNG) left 4px no-repeat;
    padding: 0 1% 0 2%;
    text-align: left;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 1%;
}

#top-panel-container li.box1 {
    width: 5%;
    float: left;
    height: 40px;
    background: url(../images/chkintop.PNG) left 4px no-repeat;
    padding: 0 1% 0 2%;
    text-align: left;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 1%;
}

#top-panel-container li.box2 {
    width: 5%;
    float: left;
    height: 20px;
    background: url(../images/bellsmall.PNG) left 4px center no-repeat;
    padding: 0 1% 0 2%;
    text-align: left;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 0%;
}

#top-panel-container li.box3 {
    width: 7%;
    float: left;
    height: 20px;
    background: url(../images/chkinsml.PNG) left 4px no-repeat;
    padding: 0 2% 0 2%;
    text-align: left;
    letter-spacing: 1px;
    z-index: 100;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 0%;
}

#top-panel-container li.boxLand {
    background: url(../images/StartHome.png) left 2px no-repeat;
    width: 10%;
    float: left;
    height: 20px;
    padding: 0 2% 0 2%;
    text-align: left;
    letter-spacing: 1px;
    z-index: 100;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 2%;
}

#top-panel-container li.box4 {
    width: 6%;
    float: left;
    height: 20px;
    background: url(../images/tophome.PNG) left 2px no-repeat;
    padding: 0 2% 0 2%;
    text-align: left;
    letter-spacing: 1px;
    z-index: 100;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 1%;
}

#top-panel-container li.box5 {
    width: 2%;
    float: left;
    height: 20px;
    background: url(../images/logontop.PNG) left 3px no-repeat;
    padding: 0 2% 0 2%;
    text-align: left;
    letter-spacing: 1px;
    margin: 0 0 0 5px;
    z-index: 100;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 1%;
}


#top-panel-container li.box40 {
    width: 6%;
    float: left;
    height: 20px;
    background: url(../images/tophome.PNG) left 7px no-repeat;
    padding: 0 2% 0 2%;
    text-align: left;
    letter-spacing: 1px;
    z-index: 100;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 1%;
    font-size: 12px;
}

#top-panel-container li.box50 {
    width: 2%;
    float: left;
    background: url(../images/logontop.PNG) left 7px no-repeat;
    padding: 0 2% 0 2%;
    text-align: left;
    letter-spacing: 1px;
    z-index: 100;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 1%;
    font-size: 12px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#top-panel-container ul li.timeSs {
    width: 5%;
    height: 20px;
    color: #fff;
    font-weight: normal;
    float: left;
    background: url(../images/clock.PNG) left 7px no-repeat;
    padding: 0 0 0 18px;
    letter-spacing: 1px;
    margin: 0 5px;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 2%;
    font-size: 11px;
}

#top-panel-container li a,
#top-panel-container li a:link,
#top-panel-container li a:visited {
    color: #fff;
    text-decoration: none;
    text-align: left;
    font-size: 11px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

    #top-panel-container li a:hover {
        color: #CCC;
        text-decoration: none;
    }

/*---------------------END---------------*/

.alertsPopUp img {
    display: block;
    margin: 10px;
}


.alertsPopUp div.close {
    width: 12px;
    height: 12px;
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
    position: absolute;
    z-index: 300;
}

.alertsPopUp a.sprited {
    display: block;
    float: right;
    margin: 0 0 0 280px!important;
    padding: 0;
    position: absolute;
    z-index: 999;
    top: -22px;
}

/*----------------------Third Dropdown----------------------------------*/
.checkPopUp {
    width: 300px;
    min-height: 300px;
    height: auto !important;
    height: 300px;
    display: none;
    margin: 8px 0 0 0;
    border: 5px solid #b2ccca;
    background: #f8f7fc url(../images/smlmelmark.JPG) 10px 5px no-repeat;
    padding: 21px 8px 8px 8px;
    position: absolute;
    z-index: 1003;
    right: 5%;
}

    .checkPopUp hr {
        margin: 7px 0 16px 0;
        padding: 0;
        border: 1px solid #b2ccca;
        line-height: 1px;
    }

    .checkPopUp a.sprited {
        display: block;
        float: right;
        margin: 0 0 0 280px!important;
        padding: 0;
        position: absolute;
        top: -24px;
    }


/*----------------------Top Menu Ul Li----------------------------------*/
.clear {
    margin: 0;
    padding: 0;
    border: 0;
    clear: both;
}

#dashboard-top-panel {
    width: 100%;
    height: 47px;
    float: none;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background: url(../images/db-top-bg.jpg) no-repeat right #1db439;
    display: inline block;
}

#top-panel-container {
    width: 93%;
    height: 47px;
    margin: 0px auto;
    padding: 0px;
}

    #top-panel-container ul {
        margin: 1% 0 0 0;
        padding: 0;
        list-style: none;
        float: right;
        width: 100%;
        height: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        text-align: left;
        color: #fff;
        font-size: 100%;
        float: left !important;
        position: static;
        z-index: 999;
    }

        #top-panel-container ul li.timeS {
            width: 5%;
            height: 20px;
            color: #fff;
            font-weight: normal;
            float: left;
            background: url(../images/clock.PNG) left 3px no-repeat;
            /*padding: 0 0 0 18px;*/
            letter-spacing: 1px;
            margin: 0 5px;
            cursor: pointer;
            display: block;
            float: left;
            margin-left: 2%;
        }

    #top-panel-container li.user {
        width: 16%;
        float: left;
        height: 20px;
        background: url(../images/admintop.PNG) left top no-repeat;
        padding: 0 0 0 20px;
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 11px;
        display: block;
        float: left;
    }

    #top-panel-container li.dashboard {
        width: 6%;
        float: left;
        height: 20px;
        background: url(../images/dashboard.PNG) left top no-repeat;
        padding: 0 0 0 20px;
        text-align: left;
        letter-spacing: 1px;
        font-size: 11px;
        cursor: pointer;
        display: block;
        float: left;
    }

    #top-panel-container li.report {
        width: 4%;
        float: left;
        height: 20px;
        background: url(../images/reports.PNG) left top no-repeat;
        padding: 0 0 0 20px;
        text-align: left;
        letter-spacing: 1px;
        font-size: 11px;
        cursor: pointer;
        display: block;
        float: left;
    }

    #top-panel-container li.box0 {
        width: 5%;
        float: left;
        height: 20px;
        background: url(../images/chkintop.PNG) left 4px no-repeat;
        padding: 0 1% 0 2%;
        text-align: left;
        letter-spacing: 1px;
        cursor: pointer;
        display: block;
        float: left;
        margin-left: 1%;
    }

    #top-panel-container li.box1 {
        width: 5%;
        float: left;
        height: 20px;
        background: url(../images/chkintop.PNG) left 4px no-repeat;
        padding: 0 1% 0 2%;
        text-align: left;
        letter-spacing: 1px;
        cursor: pointer;
        display: block;
        float: left;
        margin-left: 2%;
    }

    #top-panel-container li.box2 {
        width: 5%;
        float: left;
        height: 20px;
        background: url(../images/bellsmall.PNG) left 4px center no-repeat;
        padding: 0 1% 0 2%;
        text-align: left;
        letter-spacing: 1px;
        cursor: pointer;
        display: block;
        float: left;
        margin-left: 1%;
    }

    #top-panel-container li.box3 {
        width: 7%;
        float: left;
        height: 20px;
        background: url(../images/chkinsml.PNG) left 4px no-repeat;
        padding: 0 2% 0 2%;
        text-align: left;
        letter-spacing: 1px;
        z-index: 100;
        cursor: pointer;
        display: block;
        float: left;
        margin-left: 1%;
    }

    #top-panel-container li.box4 {
        width: 4%;
        float: left;
        height: 20px;
        background: url(../images/tophome.PNG) left 2px no-repeat;
        padding: 0 2% 0 2%;
        text-align: left;
        letter-spacing: 1px;
        z-index: 100;
        cursor: pointer;
        display: block;
        float: left;
        margin-left: 1%;
    }

    #top-panel-container li.box5 {
        width: 2%;
        float: left;
        height: 20px;
        background: url(../images/logontop.PNG) left 3px no-repeat;
        padding: 0 2% 0 2%;
        text-align: left;
        letter-spacing: 1px;
        margin: 0 0 0 5px;
        z-index: 100;
        cursor: pointer;
        display: block;
        float: left;
        margin-left: 1%;
    }

    #top-panel-container li.box6 {
        width: 6%;
        float: left;
        height: 20px;
        background: url(../images/StartHome.PNG) left 3px no-repeat;
        padding: 0 2% 0 2%;
        text-align: left;
        letter-spacing: 1px;
        margin: 0 0 0 5px;
        z-index: 100;
        cursor: pointer;
        display: block;
        float: left;
        margin-left: 1%;
    }

    #top-panel-container li.box7 {
        width: 6%;
        float: left;
        height: 20px;
        background: url(../images/StartHome.PNG) left 8px no-repeat;
        padding: 0 2% 0 2%;
        text-align: left;
        letter-spacing: 1px;
        margin: 0 0 0 5px;
        z-index: 100;
        cursor: pointer;
        display: block;
        float: left;
        margin-left: 1%;
    }

    #top-panel-container li a,
    #top-panel-container li a:link,
    #top-panel-container li a:visited {
        color: #fff;
        text-decoration: none;
        text-align: left;
        font-size: 11px;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
    }

        #top-panel-container li a:hover {
            color: #CCC;
            text-decoration: none;
        }





/*----------------------BOTTOM Menu Ul Li----------------------------------*/










#menu {
    width: 100%;
    height: auto;
    float: left;
    margin: 0px;
    background: url(../images/menu-bg.jpg) repeat-x bottom;
}

    #menu ul {
        padding: 0px 0px 0px -1%;
        margin: 0px;
        float: left;
        list-style: none;
        width: 100%;
    }

    #menu li {
        padding: 0;
        margin: 0;
        list-style: none;
        float: left;
        width: 10%;
        height: 34px;
    }

        #menu li a {
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
            list-style: none;
            float: left;
            width: auto;
            height: 34px;
            text-align: center;
            font-size: 81%;
            font-weight: bold;
            line-height: 40px;
            color: #fff;
            text-transform: uppercase;
            white-space: nowrap;
            cursor: pointer;
            /*background:url(../images/menu-divider.jpg) no-repeat right bottom;*/
        }


    #menu .alpha1 a span img {
        display: block;
        margin: 12px 5px 0 0;
    }

    #menu .alpha1 a {
        font-size: 10px;
        font-weight: normal;
        color: #fff;
        margin: 0px;
        letter-spacing: -1;
        text-align: left!important;
    }

        #menu .alpha1 a,
        #menu .alpha1 a:link,
        #menu .alpha1 a:visited {
            display: block;
            color: #fff;
            letter-spacing: -1;
        }

            #menu .alpha1 a:hover {
                background: url(../images/menu-hover-rightmiddle.PNG) right top no-repeat;
                color: #000;
                letter-spacing: -1;
                display: block;
            }

            #menu .alpha1 a span {
                display: block;
                margin: 0;
                padding: 0 16px 0 11px;
                color: #fff;
            }

                #menu .alpha1 a span:hover {
                    background: url(../images/menu-hover-left.PNG) left top no-repeat;
                    margin: 0;
                    padding: 0 16px 0 11px;
                    color: #0d668e;
                }




#menu_active span {
    background: url(../images/menu-hover-left.PNG) left top no-repeat;
    margin: 0px;
    padding: 0 0 0 11px;
    color: #000!important;
}

#menu_active a {
    background: url(../images/menu-hover-rightmiddle.PNG) right top no-repeat;
    margin: 0 15px;
    padding: 0 12px 0 0;
    color: #000!important;
    letter-spacing: -1;
    display: block;
}






/*--------------------------------------- Droper Start-------------------------------------------*/

div.bottomtop {
    cursor: pointer;
    background: url(../images/arrowTop.png) center bottom no-repeat;
    padding-bottom: 14px;
    margin: 0 0 0 0;
    z-index: 101;
}

div.bottodown {
    cursor: pointer;
    background: url(../images/arrowDown.png) center bottom no-repeat;
    padding-bottom: 14px;
    margin: 0 0 0 0;
    z-index: 101;
}

/*--------------------------------------- Droper Start-------------------------------------------*/





/*--------------------------LFT Menu Slider Start------------------------*/



/* Form styling from here on out. There is nothing in here that you HAVE to use to get this to work */



hr {
    margin: 5px 0 0 0;
    padding: 0;
    border: 1px solid #b2ccca;
    line-height: 1px;
}

/* Loading bar that will appear while the ajax magic is happening */
.bar {
    display: none;
    background: url(../images/ajax-loader.gif) no-repeat center;
    margin-top: 100px;
    height: 20px;
    width: 250px;
}

/* Hides the confirmation message until needed */
#messageSent {
    display: none;
}

/* This hides the form validation alert messages until needed */
#contactForm span {
    display: none;
    font-size: 9px;
    line-height: 10px;
    padding-left: 6px;
}

/* Some styling for the contact button */
#contactFormContainer .contact {
    height: 30px;
    width: 185px;
    background: url(../images/menuDwn.png) left top no-repeat;
    position: absolute;
    left: 0px;
    margin-left: 35px;
    bottom: -29px;
    cursor: pointer;
}

/* Hides the darkening layer for the Modal effect. The z-index is necessary for layering purposes, and be sure to keep the positioning/height/width the same */
#backgroundPopup {
    display: none;
    position: fixed;
    position: absolute;
    height: 150px;
    width: 300px;
    top: 0;
    left: 0;
    z-index: 11;
}

/*--------------------------LFT Slider Menu Start------------------------*/


/*-------------------------------------------------------------------------------------DATA SHEET--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------*/

/*--------------------------DATA SHEET START------------------------*/

.dashboard-RHS-content {
    width: 100%;
    height: auto;
    min-height: 500px;
    padding: 0 0px 0px 0;
    margin: 0 auto;
}

.content-panel {
    width: 100%;
    height: auto;
    margin: 0px auto;
}

/*--------------------------DATA SHEET END------------------------*/


#dashboard-RHS {
    background-color: #FFFFFF;
    border: 2px solid #B6D1DD;
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 1px 5px 3px #BFC0C1;
    height: auto;
    margin: 15px auto;
    padding: 5px;
    width: 99%;
}




.previewClass {
    display: block;
    left: 66%;
    top: 70%;
    width: 250px;
    position: absolute;
    z-index: 600;
    background: #f8f7fc;
    border: 3px solid #b2ccca;
    padding: 15px;
    font: 10pt tahoma;
}

    .previewClass a.clbs,
    .previewClass a.clbs:link,
    .previewClass a.clbs:visited {
        background: url(../images/button_red_close.png) left top no-repeat;
        width: 31px;
        height: 31px;
        position: absolute;
        z-index: 999;
        display: block;
        cursor: pointer;
        left: 270px;
        top: -18px;
    }

#cover {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 1124px;
    background: gray;
    filter: alpha(Opacity = 50);
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

#photo {
    left: 196px;
    margin-left: 600px;
    margin-top: 0;
    position: absolute;
    top: -11px;
    width: 337px;
}
/* SLODER SCROLLER START */

.corpo {
    width: 95%!important;
    vertical-align: top;
    background: url(../img/bg_center_home.jpg) 0px 0px no-repeat;
}

.searchbtnimg {
    border-width: 0px;
    margin: 0px 0px -7px;
}

.corpo-left {
    background: url(../img/bg_left.jpg) right top repeat-x;
    cursor: pointer;
}

.corpo-right {
    background: url(../img/bg_right.jpg) left top repeat-x;
    cursor: pointer;
}

#makeMeScrollable {
    width: auto;
    position: relative;
    margin: 0 auto;
    z-index: 100;
    margin-top: -1%;
}

div.upperScroll {
    width: auto;
    height: 50px;
    position: relative;
    margin: 0 auto;
    z-index: 100;
}

div.lowerScroll {
    width: auto;
    height: 25px;
    position: relative;
    margin: 0 auto 0 auto !important;
    z-index: 100;
}

#partTwo {
    width: auto;
    height: 35px;
    position: relative;
    margin: 0 auto;
    z-index: 100;
}

#makeMeScrollable div.scrollableArea div img {
    float: left;
    height: 37px;
    margin: 3px;
    width: 37px;
}

#makeMeScrollable div.scrollableArea div:hover {
    cursor: pointer;
    background-position: 0 -60px;
}

div.scrollingHotSpotLeft {
    width: 16px;
    height: 45px;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    margin: 0 0 0 2px;
    cursor: pointer;
}


div.scrollingHotSpotLeftVisible {
    zoom: 1;
}

div.scrollingHotSpotRight {
    width: 16px;
    height: 45px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    margin: 0 8px 0 0;
    cursor: pointer;
}

div.scrollingHotSpotRightVisible {
    zoom: 1;
}

div.scrollWrapper {
    height: 50px;
    margin: -1.4% 0 0 2%;
    overflow: hidden;
    position: absolute;
    width: 96%;
    z-index: 100;
}

div.second {
    height: 35px;
    margin: 6px auto;
}

div.scrollableArea {
    position: relative;
    width: auto;
    height: 35px;
    margin: 0 auto;
}

#studentContainer {
    height: 35px;
}

div.scrollableArea #studentlist {
    float: left;
    height: 35px;
    margin: 0;
    overflow: hidden;
    width: 96%;
}

.students {
    width: 153px;
    height: 50px;
    float: left;
    margin: 4px 9px 0 0;
    background: url(../images/topmenubgnew.png) left top no-repeat;
}

.students-active {
    width: 153px;
    height: 50px;
    float: left;
    margin: 4px 9px 0 0;
    background: url(../images/topmenubgactiv.png) left top no-repeat;
    background-position: 0 -60px;
}

    .students-active a {
        width: 94px;
        height: 23px;
        float: right;
        font-size: 100%;
        font-weight: bold;
        color: #333;
        text-align: left;
        margin: 8px 0 0 0;
        font-family: Arial, Helvetica, sans-serif;
        padding: 4px 0 0 5px;
        text-align: left;
    }

div.scrollableArea div.students img {
    display: block;
}

div.scrollableArea div.students a {
    width: 94px;
    padding: 4px 0 0 5px;
    height: 23px;
    float: right;
    font-size: 100%;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    color: #fff;
    text-align: left;
    margin: 8px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.catCont .catNameDiv {
    background-color: #06678A;
    position: absolute;
    margin-top: -38px;
    display: none;
}

#contactFormContainer {
    margin-top: -13px;
}

.clockSpan {
    display: block;
    font-size: 12px;
    color: #14A3DF;
    padding-left: 6px;
}

div.StudPopup {
    width: 161px;
    height: 95px;
    top: 105px !important;
    background: url(../images/popupgrdnt.JPG) left top repeat-x;
    margin: 0 auto;
    border: 3px solid #fff;
    position: absolute;
    z-index: 1000;
}

    div.StudPopup img {
        width: 68px;
        height: 64px;
        margin: 3px auto 0 auto;
        padding: 0 !important;
        display: block;
    }

    div.StudPopup p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        vertical-align: middle;
        padding-top: 4px;
        padding-left: 3px;
    }

.grmb {
    background: url(../../StudentBinder/img/lbtngrngray.png) left top no-repeat;
    width: 204px;
    height: 21px;
    font-size: 11px;
    font-weight: normal;
    color: #0d668e;
    background-position: 0 -0;
    display: block;
    text-decoration: none;
    padding: 7px 0 0 19px;
    float: left;
    margin: 0 0 3px 0;
}
